<!-- Footer -->
<footer id="footer" class="contact-container mt-5 text-white bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4>CONTACTANOS</h4>
                <p>Número Telefónico: 3133847392</p>
                <p>Correo: toolboxencontacto@gmail.com</p>
                <p>Oficina: Cra 9 #19-27</p>
                <p>Registrate ahora con TOOLBOX</p><button class="btn btn-light px-3"><a class="text-decoration-none text-black" href="/form">¡Ahora!</a></button>
            </div>
            <div class="col-md-4 text-center">
                <h4>SIGUENOS EN</h4>
                <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.tiktok.com" target="_blank" class="text-white mx-2">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h4>ACERCA DE NOSOTROS</h4>
                <p>TOOLBOX ofrece servicios de reparación y proyectos de construcción. Estamos aquí para ayudarte a
                    dar a conocer tus habilidades y servicios.</p>
                <a class="text-white" href="/uso">Politicas de privacidad y uso</a>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 TOOLBOX. Todos los derechos reservados.</p>
            <div>Icons made by
                <a class="text-white" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                from <a class="text-white" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </div>
    </div>
</footer>