<!-- header -->
<nav class="navbar navbar-expand-lg header bg-light shadow sticky-top">
    <div class="container-fluid mx-5">
    <!-- Logo -->
        <a class="navbar-brand d-flex" href="#"><img src="../imagenes/Logo.svg" height="35" class="mx-2" alt="...">
        <h5 class="fw-bold mt-2 text-warning">TOOLBOX</h5></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-warning text-dark px-3" href="/cliente">Inicio</a>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Nosotros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item btn btn-warning" href="/cliente">Nuestros servicios</a></li>
                        <li><a class="dropdown-item btn btn-warning" href="/myv_cliente">Misión y visión</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comunidad
                        </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item btn btn-warning" href="/perfilCliente">Mi perfil</a></li>
                        <li><a class="dropdown-item btn btn-warning" href="/uso_cliente">Términos y condiciones de uso</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-warning" aria-current="page" href="#footer">Contáctanos</a>
                </li>
            </ul>
             <!-- Login Cliente -->
            <div class="d-flex justify-content-center align-items-center" id="loginContainer">
                <div class="dropdown dropstart">
                    <button type="button" class="btn btn-warning px-3 py-1 rounded-4 dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" data-bs-auto-close="outside">
                        <span class="mx-2">Mi cuenta</span>
                        <img src="/imagenes/login_1000997.png" class="mb-1" height="16" alt="..">
                    </button>
                    <div class="dropdown-menu">
                        <form id="login-form-cliente" class="px-4 py-3">
                            <div class="mb-3">
                                <label for="userEmailCliente" class="form-label">Email</label>
                                <input type="text" class="form-control" name="userEmailCliente" id="userEmailCliente"
                                    placeholder="email@ejemplo.com">
                            </div>
                            <div class="mb-3">
                                <label for="userPasswordCliente" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" name="userPasswordCliente" id="userPasswordCliente"
                                    placeholder="Contraseña">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMeCliente">
                                    <label class="form-check-label" for="rememberMeCliente">
                                        Recordarme
                                    </label>
                                </div>
                            </div>
                            <p id="mensajeErrorLoginCliente" class="hidden text-danger">Error durante el login</p>
                            <button type="submit" class="btn btn-outline-dark">Ingresar</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btn btn-warning" href="/form-cliente">Registrarme</a>
                        <a class="dropdown-item btn btn-warning" href="#" id="forgotPasswordButtonCliente">Olvidé mi contraseña</a>
                    </div>
                </div>
            </div>

            <!-- Botón de Cerrar Sesión con Icono -->
            <div id="logoutContainer" class="d-none">
                <button id="logoutButton" class="btn btn-outline-danger d-flex align-items-center">
                    <i class="fas fa-sign-out-alt me-2"></i>
                    Cerrar Sesión
                </button>
            </div>
        </div>
      </div>
    </div>
</nav>